<div id="home-head">
    <div
        id="home-background"
        ref="homeBackground"
        data-images="<%- theme.background.map(url_for) %>"
    ></div>
    <div id="home-info">
        <div class="wrap">
            <p class="home-author"><%= config.subtitle %></p>
            <h1><%= config.title %></h1>
            <p class="home-summary"><%= config.description %></p>
            <a class="home-scroll" href="#home-posts-wrap">
                Latest writing
                <i class="fa-solid fa-arrow-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<div
    id="home-posts-wrap"
    ref="homePostsWrap"
    <%- theme.card.enable || 'class="home-posts-wrap-no-card"' %>
>
    <div id="home-posts">
        <%- partial("posts") %>
        <%- partial("current") %>
    </div>
    <% if (theme.card.enable) { %>
    <div id="home-card">
        <%- partial("card") %>
    </div>
    <% } %>
</div>
